[mysqld]
max_connections=65535
wait_timeout=180
default-time_zone='+8:00'
thread_cache_size=120
back_log=256
innodb_thread_concurrency=64
key_buffer_size=128M
innodb_buffer_pool_size=512M
innodb_log_buffer_size=128M
query_cache_size=128M
thread_cache_size=128