django
djangorestframework
mysqlclient
Pillow
pymysql
DBUtils
networkx
stomp.py
requests
IPy
numpy
psutil
openpyxl
reportlab
xlwt
xlrd
redis
hiredis
channels
channels-redis
django-redis
uvicorn
gunicorn
uwsgi
django_rq
rq-scheduler
schedule
supervisor
pyOpenSSL